@charset "UTF-8";
.heading02 {
  text-align: center;            /* 文字を中央揃えに */
  font-size: 16px;               /* 文字サイズを16pxに */
  font-weight: bold;             /* 文字を太字に */
  color: #000;                   /* 文字色を黒に */
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; /* フォントの種類を指定 */
  margin-bottom: 20px;           /* 下部分の余白を 20pxに  */
}

.heading02 span {
  border-bottom: 3px solid #000; /* 下部分の罫線を 3px、実線、黒色に */
  padding-bottom: 4px;           /* 下部分の余白を 4pxに */
}

.lead {
  font-size: 14px;               /* 文字サイズを16pxに */
  line-height: 2.0;              /* 行の高さをフォントサイズの2.0倍に */
}

.btn {
  display: block;                /* 表示形式をブロックに */
  text-align: center;            /* 文字を中央揃えに */
  width: 200px;                  /* 要素の横幅を200pxに */
  margin: 0 auto 60px;           /* 要素の外余白を上0、左右自動、下60pxに */
  border: 2px solid #000;        /* 下部分の罫線を 2px、実線、黒色に */
  text-decoration: none;         /* 文字の装飾を無しに */
  padding: 13px 0 12px;          /* 要素の内余白を上13px、左右0、下12pxに */
  font-weight: bold;             /* 文字を太字に */
}

.footer {
  padding: 15px 10px;            /* 内余白を上下15px、左右10pxに */
}

.copy {
  text-align: center;            /* 文字を中央揃えに */
  font-size: 1.0rem;             /* 文字サイズを1remに */
}
