@charset "UTF-8";
.header.header-contact {
  background: url(../img/contact/hero_contact.jpg) no-repeat center center/cover; /* 背景画像を指定 */
}

.wrapper {
  max-width: 960px;               /* 最大の画面幅を960pxに */
  margin: 0 auto;                 /* 外余白を上下0、左右自動に */
  padding: 0 4%;                  /* 内余白を上下0、左右4%に */
}

.section-contact {
  padding: 30px 0 50px;           /* 内余白を上30px、左右0、下50pxに */
}

@media print, screen and (min-width: 768px) {
  .section-contact {
    padding: 60px 0 100px;        /* 内余白の上60px、左右、下100px */
    margin: 0 auto;               /* 外余を上下0、左右自動に */
  }
}

.lead {
  margin-bottom: 30px;            /* 外余白の下部を30pxに */
}

@media print, screen and (min-width: 768px) {
  .lead {
    margin: 0 auto;               /* 外余を上下0、左右自動に */
    width: 600px;                 /* 要素幅を600pxに */
    text-align: center;           /* 文字を中央揃えに */
    margin-bottom: 60px;          /* 外余白の下部を60pxに */
  }
}

.select ,input[type="text"], textarea {
  -moz-appearance: none;          /* 装飾を消す */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;                    /* 要素の幅を100%に */
  height: 43px;                   /* 要素の高さを43pxに */
  padding: 0 10px;                /* 内余白を上下0、左右10pxに */
  border: 1px solid #000;         /* 罫線を1px、実線、黒色に */
  border-radius: 0;               /* 罫線の角丸半径を0に */
  background: #fff;               /* 背景色を白に */
  font-size: 1.6rem;               /* 文字サイズを1.6remに */
  line-height: 43px;              /* 行の高さを43pxに */
}

.selectbox-wrap {
  position: relative;             /* 要素の配置を相対座標に指定 */
  width: 240px;                   /* 要素の幅を240pxに */
  height: 43px;                   /* 要素の高さ43pxに */
  z-index: 1;                     /* 要素を重ねて表示する際の優先順度を1に */
}

.selectbox-wrap::after {
  content: "";                     /* 挿入するコンテンツの内容 */
  display: block;                  /* 表示形式をブロックに */
  width: 14px;                     /* 要素の幅を14pxに */
  height: 12px;                    /* 要素の高さを12pxに */
  background: url(../img/contact/icon_select.png) no-repeat center center/cover; /* 背景画像を指定 */
  position: absolute;              /* 要素の配置を絶対座標に指定 */
  top: 50%;                        /* 上部分を基準点から50%の位置に */
  margin-top: -6px;                /* 外部余白の上部を-6pxに */
  right: 15px;                     /* 右部分を基準点から15pxの位置に */
  z-index: 10;                     /* 要素を重ねて表示する際の優先順度を1に */
}

.form-block {
  margin-bottom: 25px;             /* 外余白の下部を25pxに */
}

@media print, screen and (min-width: 768px) {
  .form-block {
    width: 600px;                  /* 要素の幅を600pxに */
    margin: 0 auto 30px;           /* 外余白を上0、左右自動、下30pxに */
  }
}

.form-title {
  font-size: 1.4rem;               /* 文字サイズを1.4remに */
  margin-bottom: 10px;             /* 外余白の下部を10pxに */
}

.form-title span {
  display: inline-block;           /* 表示形式をインラインブロックに */
  font-size: 1.0rem;               /* 文字サイズを1.0remに */
  color: #f32938;                  /* 文字色を赤に */
  margin-left: 8px;                /* 外余白の左部を8pxに */
}

.textarea {
  height: 97px;                    /* 要素の高さを97pxに */
  line-height: 1.5;                /* 行の高さをフォントサイズの1.5倍に */
  padding: 10px;                   /* 内余白を10pxに */
}

.submit-btn {
  display: block;                  /* 表示形式をブロックに */
  -moz-appearance: none;           /* 装飾を消す */
  -webkit-appearance: none;
  appearance: none;
  border: none;                    /* 罫線を無しに */
  cursor: pointer;                 /* カーソルをポインタに */
  padding: 0;                      /* 内余白を0に */
  background: #000;                /* 背景色を黒色に */
  color: #fff;                     /* 文字色を黒色に */
  font-size: 1.4rem;               /* 文字サイズを1.4remに */
  width: 116px;                    /* 要素の幅を116pxに */
  height: 43px;                    /* 要素の高さを116pxに */
  line-height: 43px;               /* 行の高さを116pxに */
  margin: 0 auto;                  /* 外余白を上下0、左右自動に */
}
